# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HTML_CSS学习\login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
